.home_pc {
  @media (max-width: 991px) and (min-width: 768px) {
    .visible-sm {
      display: none !important;
    }
  }

  .portable .light-logo {
    display: block;
  }

  .portable .blue-logo {
    display: none;
  }

  .portable header.ui.top.sidebar {
    background-color: transparent !important;
  }

  .qlogo {
    width: 120px;
    z-index: 1000000000;
    position: absolute;
    top: 20px;
    left: 8%;
    min-height: 750px;
  }

  .cost-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    overflow: auto;
  }

  .cost-container .center-container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 821px;
  }

  .qrcode {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 300px;
    height: 394px;
    color: white;
  }
  .entrance-wrapper {
    width: 260px;
    margin: 0 auto 35px;
  }
  .entrance {
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      color: #fff;
      &:active{
        border: 1px solid #0084de;
        background:#0084DE;
      }
    }
  }
  .entrance.active {
    border: 1px solid #0084de;
    background:#0084DE;
    a {
      color: #fff;
    }
  }

  .qrcode img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }

  .qrcode div {
    text-align: center;
    line-height: 40px;
    font-size: 12px;
  }

  .phone {
    margin: 0 auto;
    background: url('./img/phoneBg.png') no-repeat;
    height: 100%;
    width: 200px;
    background-size: cover;
    border: 1px solid transparent;

    width: 401.299px; height: 819px;
  }

  .iphoneIframe {
    margin: 22% auto;
    width: 88%;
    height: 78%;
  }

  .info {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -163px;
    width: 330px;
    color: white;
  }

  .info .small {
    font-size: 12px;
    line-height: 26px;
  }
  .info .small2 {
    font-size: 20px;
  }

  .info .big {
    font-size: 30px;
  }
  .info .english {
    font-size: 16px;
  }

  .gap {
    height: 40px;
  }

  #newBridge ins {
    display: none !important;
  }
}