

// pc的特殊，就按照原来的实现方式实现
.tourContent_pc {
  font-size: 14px;
}

.pointer-nav {
  position: absolute;
  bottom: -121px;
  left: 150px;
  width: 100px;
  height: 100px;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 3000;
  cursor: pointer;
}