


body{
  position: relative;
  width: 1200px !important;
  margin: 0 auto;
}

// 用户引导相关的css放在这里


div.zhushou-tour {
  background-color: transparent;
  position: absolute;
  // color: white;
  font-size: 26px;
  box-shadow: none;
  width: 600px;
  max-width: fit-content;
  box-sizing: content-box;
  .first-tour {
    letter-spacing: -2px;
    background-size: 100% 100%;
    width: 640px;
    padding: 20px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .buttons {
      margin-top: 0;
    }
  }
  .home-pc-first-step {
    background-size: 100% 100%;
    width: 480px;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    div {
      text-align: center;
    }
    .buttons {
      margin-top: 0;
    }
  }
  .arrow-upright {
    height: 91px;
    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-right: -20px;
  }
  .arrow-leftup {
    width: 58px;
    height: 81px;
    background-size: 100% 100%;
    margin-left: -15%;
  }
  .with-arrow-left {
    display: flex;
    align-items: center;
    .arrow-left {
      width: 93px;
      height: 43px;
      background-size: 100% 100%;
      margin: 0 20px;
    }
  }
  strong {
    position: relative;
    &::before {
      content: '';
      height: 10px;
      position: absolute;
      left: 0;
      right: 0;
      background-color: #0073fa;
      bottom: 0;
      z-index: -1;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    min-height: 20px;;
    .button {
      cursor: pointer;
      margin-left: 65px;
      background-size: 100% 100%;
    }
  }
}
.zhushou-tour-highlighted {
  stroke-width: 2;
  stroke: #ffffff;
  stroke-dasharray: 5;
}

// ::-webkit-inner-spin-button



.tourContent-box {
  font-size: 14px;
  position: relative;
  // color: #fff;;
  // background: rgba(255,255,255, 0.9) !important;
  width: 300px;
  .out {
    position: absolute;
    bottom: -80px;
    left: 49px;
    border-color: #3580fe transparent transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 20px;
    transform: scale(1, 2);
  }
}


// .popover-tips{

//   position: absolute;top: -37.440000000000005px;left: 196.56px;max-width: 276px;word-break: break-all;background: #001330;opacity: 0.8;font-size: 14px;color: white;border-radius: 4px;padding: 8px 12px 10px;text-align: center;z-index: 999;
//   .popover-in{

//     position: absolute;border: 6px solid transparent;width: 0;height: 0;bottom: -12px;left: 0;right: 0;margin: 0 auto;border-top-color: #001330;
//   }
// }

.pointer-nav {
  position: absolute;
  bottom: -121px;
  left: 150px;
  width: 100px;
  height: 100px;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 3000;
  cursor: pointer;
}

.round-point {
  width: 40px;
  height: 40px;
  background-position: 0 0;
  background-image: url(../../common/img/cursor.png);
  animation: guideToClick 1.2s steps(1) 0s infinite;
}



@keyframes guideToClick {
  0% {
    background-position: 0 0
  }

  1.5625% {
    background-position: -40px 0
  }

  6.25% {
    background-position: -80px 0
  }

  14.0625% {
    background-position: -120px 0
  }

  25% {
    background-position: -160px 0
  }

  39.0625% {
    background-position: -200px 0
  }

  56.25% {
    background-position: -240px 0
  }

  76.5625% {
    background-position: -280px 0
  }

  3.125% {
    background-position: 0 -40px
  }

  4.6875% {
    background-position: -40px -40px
  }

  7.8125% {
    background-position: -80px -40px
  }

  15.625% {
    background-position: -120px -40px
  }

  26.5625% {
    background-position: -160px -40px
  }

  40.625% {
    background-position: -200px -40px
  }

  57.8125% {
    background-position: -240px -40px
  }

  78.125% {
    background-position: -280px -40px
  }

  9.375% {
    background-position: 0 -80px
  }

  10.9375% {
    background-position: -40px -80px
  }

  12.5% {
    background-position: -80px -80px
  }

  17.1875% {
    background-position: -120px -80px
  }

  28.125% {
    background-position: -160px -80px
  }

  42.1875% {
    background-position: -200px -80px
  }

  59.375% {
    background-position: -240px -80px
  }

  79.6875% {
    background-position: -280px -80px
  }

  18.75% {
    background-position: 0 -120px
  }

  20.3125% {
    background-position: -40px -120px
  }

  21.875% {
    background-position: -80px -120px
  }

  23.4375% {
    background-position: -120px -120px
  }

  29.6875% {
    background-position: -160px -120px
  }

  43.75% {
    background-position: -200px -120px
  }

  60.9375% {
    background-position: -240px -120px
  }

  81.25% {
    background-position: -280px -120px
  }

  31.25% {
    background-position: 0 -160px
  }

  32.8125% {
    background-position: -40px -160px
  }

  34.375% {
    background-position: -80px -160px
  }

  35.9375% {
    background-position: -120px -160px
  }

  37.5% {
    background-position: -160px -160px
  }

  45.3125% {
    background-position: -200px -160px
  }

  62.5% {
    background-position: -240px -160px
  }

  82.8125% {
    background-position: -280px -160px
  }

  46.875% {
    background-position: 0 -200px
  }

  48.4375% {
    background-position: -40px -200px
  }

  50% {
    background-position: -80px -200px
  }

  51.5625% {
    background-position: -120px -200px
  }

  53.125% {
    background-position: -160px -200px
  }

  54.6875% {
    background-position: -200px -200px
  }

  64.0625% {
    background-position: -240px -200px
  }

  84.375% {
    background-position: -280px -200px
  }

  65.625% {
    background-position: 0 -240px
  }

  67.1875% {
    background-position: -40px -240px
  }

  68.75% {
    background-position: -80px -240px
  }

  70.3125% {
    background-position: -120px -240px
  }

  71.875% {
    background-position: -160px -240px
  }

  73.4375% {
    background-position: -200px -240px
  }

  75% {
    background-position: -240px -240px
  }

  85.9375% {
    background-position: -280px -240px
  }

  87.5% {
    background-position: 0 -280px
  }

  89.0625% {
    background-position: -40px -280px
  }

  90.625% {
    background-position: -80px -280px
  }

  92.1875% {
    background-position: -120px -280px
  }

  93.75% {
    background-position: -160px -280px
  }

  95.3125% {
    background-position: -200px -280px
  }

  96.875% {
    background-position: -240px -280px
  }

  98.4375% {
    background-position: -280px -280px
  }
}