

html,body {text-align:left; font-size:12px;font-family: PingFangSC-Regular,Hiragino Sans GB, Microsoft YaHei;height:100%}
html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,
h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}
ul,li{list-style:none}
a{text-decoration:none;font-weight:normal;font-family:inherit}
*{box-sizing:border-box} 
*:active,*:focus{outline:0;-moz-outline-style:none}
// h1,h2,h3,h4,h5,h6,h7{font-weight:normal;font-size:1em}
.clearfix:after{clear:both;content:"";display:block;visibility:hidden}
.wrap{min-height:100%;padding:60px 20px 100px;max-width:620px;margin:0 auto;}
.footer{margin-top:-40px;height:20px;text-align:center;font-size:12px;font-weight:bold}
.footer b{color: #F83F1D}
.wrap h1,.wrap h2,.wrap p{text-align:center}
.wrap h1{font-size:120px;line-height:120px;font-weight:bold}
.wrap h2{font-size:30px;line-height:30px;font-weight:bold;margin-top:20px}
.wrap p{margin-top:30px;font-size:20px;opacity:0.5;word-break:break-all;line-height:150%}
.wrap pre{margin-top:30px;overflow-x:auto;border:1px solid #E5E5E5;padding:20px;border-radius:2px}
// #root {height: 100% !important}
// #root, #root > div, #root > section {height: 100%}
body{
  font-size:12px
}

::-webkit-scrollbar {
  width: 0px !important;
  height:12px;
  display: none;
}


::-webkit-scrollbar-track {
  background-color: transparent;
  //-webkit-box-shadow:  0px 0px 0px 2px rgba(217,217,217,1);
  //border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #E0EBF8;
  border: 0px solid #F7F7F8;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
