

// 用户引导相关的css放在这里

body{
  position: relative;
  width: auto;
  margin: 0 auto;
}



// ::-webkit-inner-spin-button


.tourContent-box {
  font-size: 12px;
  position: relative;
  // color: #fff;;
  // background: rgba(255,255,255, 0.9) !important;
  width: 300px;
  .out {
    position: absolute;
    bottom: -80px;
    left: 49px;
    border-color: #3580fe transparent transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 20px;
    transform: scale(1, 2);
  }
}


// .popover-tips{

//   position: absolute;top: -37.440000000000005px;left: 196.56px;max-width: 276px;word-break: break-all;background: #001330;opacity: 0.8;font-size: 14px;color: white;border-radius: 4px;padding: 8px 12px 10px;text-align: center;z-index: 999;
//   .popover-in{

//     position: absolute;border: 6px solid transparent;width: 0;height: 0;bottom: -12px;left: 0;right: 0;margin: 0 auto;border-top-color: #001330;
//   }
// }

