.pc-page {
    color: red;
}


.zhushou-tour{
    position: relative;
    background-color: #3580fe !important;
    border-radius: 5px;
    color: #fff;
}
img {
    display: block;
    width: 100%
}

.home {
    width: 1200px;
    margin: 0 auto;
}




