



#gaizhang{
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 2;
  width: 200px;
  height: 80px;
  border-radius: 40px 0 0 40px;
  background-color: rgb(146, 145, 221);
  color: #fff;
  .gaizhang_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
  }
  .all_number{
    position: absolute;
    left: 100px;
    top: 10px;
  }
  .last_number{
    position: absolute;
    left: 100px;
    top: 30px;
  }
}