



#gaizhang{
  position: fixed;
  top: 5%;
  right: 0;
  z-index: 999999;
  width: 4rem;
  height: 1.5rem;
  border-radius: .85rem 0 0 .85rem;
  background-color: #fff;
  color: #fff;
  opacity: 0.8;
  box-shadow: 0 2px 2px 0 #ccc;
  .gaizhang_img {
    position: absolute;
    right: 2.59rem;
    top: 0.04rem;
    width: 1rem;}
  
  // .all_number{
  //   position: absolute;
  //   left: 100px;
  //   top: 10px;
  // }
  // .last_number{
  //   position: absolute;
  //   left: 100px;
  //   top: 30px;
  // }
}
#zhang_popover{
  position: fixed;
  top: 6%;
  right: -.19rem;
  z-index: 999999;
  width: 4rem;
  height: 1.4rem;
 
  // .round-point{
  //   position: absolute;
  //   left: 0;
  //   top:0;
  // }
  // .pointer-img {
  //   background: url(./img/zhang.png) no-repeat;
  //   background-size: 1.3rem 1.5008rem;;
  //   display: inline-block;
  //   position: absolute;
  //   left: 0;;
  //   top: 0rem;
  //   width: 1.3rem;
  //   height: 1.5008rem;
  // }
  // &:active .pointer-img{
  //   vertical-align: middle;
  //   -webkit-transform: perspective(1px) translateZ(0);
  //   transform: perspective(1px) translateZ(0);
  //   box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  //   -webkit-transition-duration: 0.3s;
  //   transition-duration: 0.3s;
  //   -webkit-transition-property: transform;
  //   transition-property: transform;
  //   -webkit-transition-timing-function: ease-out;
  //   transition-timing-function: ease-out;
  //   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //   -webkit-font-smoothing: antialiased;
  // }
}

// 显示
.step5_number{
  left: 3.3rem;
  top: 5.46rem;
  font-weight: 600;
}

.step4_number {
  left: 1.74rem;
  top: 3.43rem;
}

.step4_number, .step5_number {
  position: absolute;
  font-size: 12px;
  text-align: center;
  width: 1rem;
  z-index: 999999;
  transform: scale(0.625);
  color: #bbb;
}


// 弹框中的数数字
.dialog_all_number, .dialog_last_number {
  font-size: 50px;
  text-align: center;
  top: 4.5rem;
  width: 1rem;
  z-index: 999999;
 }
.dialog_last_number{
  left: 2.04rem;

}
.dialog_all_number{
  right: 1.94rem;
}

.tour_img_2loading{
  .loading{
    width: 100%;
    height: 100px;
    background: url(./img/loading.gif) no-repeat center center;
    background-size: 50px 50px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // width: 100%;
    // max-width: 100%;
    // max-height: 100%;
  }
}