



#gaizhang{
  position: fixed;
  top: 60%;
  right: 0;
  z-index: 999999;
  width: 200px;
  height: 80px;
  border-radius: 40px 0 0 40px;
  background-color: rgb(146, 145, 221);
  color: #fff;
  .gaizhang_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    margin-left: 15px;
  }
  .all_number{
    position: absolute;
    left: 100px;
    top: 10px;
  }
  .last_number{
    position: absolute;
    left: 100px;
    top: 30px;
  }
}
#zhang_popover{
  position: fixed;
  top: 60%;
  right: 0;
  z-index: 999999;
  width: 3.3rem;
  height: 80px;
}

.step5_number{
  position: absolute;
  font-size: 14px;
  text-align: center;
  left: 3.3rem;
  top: 5.76rem;
  width: 1rem;
  z-index: 999999;
  font-weight: 600;

}
.step4_number{
  position: absolute;
    font-size: 14px;
    text-align: center;
    left: 2.04rem;
    top: 3.5rem;
    width: 1rem;
    z-index: 999999;
}
.dialog_last_number{
  font-size: 18px;
  text-align: center;
  left: 2.04rem;
  top: 5.1rem;
  width: 1rem;
  z-index: 999999;

}
.dialog_all_number{
  font-size: 18px;
  right: 1.94rem;
  top: 5.1rem;
  width: 1rem;
  z-index: 999999;
  text-align: center;
}

.tour_img_2loading{
  .loading{
    width: 100%;
    height: 100px;
    background: url(./img/loading.gif) no-repeat center center;
    background-size: 50px 50px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // width: 100%;
    // max-width: 100%;
    // max-height: 100%;
  }
}